@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

      :root {
        --default-font: 'Poppins', sans-serif;
        --primary-color:#0066ff;
        --hero-bg-color: #EBF2FF;
      }

      *{
        font-family: var(--default-font);
      }
      a{
        text-decoration: none;
      }
      /* HEADER STYLES */
      header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4.9rem;
        background-color: var(--hero-bg-color);
      }

      .brand{
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .brand span{
        font-weight: 700;
        font-size: 1.5rem;
      }
      button{
        border-radius: 25px;
        border: none;
        padding: 1rem 2rem;
      }
      .button-primary{
        background-color:var(--primary-color);
        color: white;
      }
      nav{
        display: flex;
        gap: 1rem;
      }
      .logo-text{
        font-weight: 700;
        font-size: 1.5rem;
      }
      /* herostyles */
      .hero__top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5rem 5rem;
        background-color: var(--hero-bg-color);
      }